# VPC
- サブネットをまとめる単位
- サブネットはACLでアクセス制御。アウトとイン両方の記載必要
- セキュリティグループはVPC内のリソース単位で設定するもの。アウトのみ記載すればインは自動で許可。サブネット跨いで設定可能

# cloudFront
- 配信サービス
- ACM証明書はus-east-1で作る必要がある
- HTTPS強制 するときは Viewer Protocol Policyを設定
- OAC CloudFrontとS3の通信制御のこと。暗号化できる。バケットポリシーはそのままでOK
- Lambda@Edge cloudfrontのエッジロケーションからコードを実行するLambda
- フィールド単位で暗号化できる
- キャッシュビヘイビア パスごとにキャッシュを管理できる

# ELB
- ALBやNLB、GWLBなどの種類がある




